<html>
  <head>
  </head>
  <body>
    <p>
      <strong>会計係の中島です。</strong>
    </p>
    <p><%= @user.name %>さんから，先月分の研究室費がまだ支払われておりません。</p>
    <p>500円を中島まで、よろしくお願いいたします。</p>

    <hr />

    <p>関西大学　アルゴリズム工学研究室</p>
    <p><a href="http://www.al.kansai-u.ac.jp/index.html">http://www.al.kansai-u.ac.jp/index.html</a></p>
  </body>
</html>
