<html>
  <head>
  </head>
  <body>
    <p><strong>会計係の中島です。</strong></p>

    <p><%= @month %>月度の研究室費を徴収したいと思います。</p>
    <p>まだの方は、今月末までに、500円を中島まで、よろしくお願いいたします。</p>

    <hr />

    <p>アルゴリズム工学研究室</p>
    <p><a href="http://www.al.kansai-u.ac.jp/index.html">http://www.al.kansai-u.ac.jp/index.html</a></p>
  </body>
</html>
